/* Topnav */
.topnav {
    position: absolute;
    top: 8px;
    right: 16px;
}
.container {
  display: flex;
}

h2 {
  Font-Family: 'Merriweather', Serif;
  Font-Size: 60px;
}

h3 {
  Font-Family: 'Merriweather', Serif;
  Font-Size: 30px;
}

p {
  Font-Family: 'Muli', Sans-Serif;
  Font-Size: 20px;
}
.navbar-text{
  Font-Family: 'Merriweather', Serif;
  Font-Size: 24px;
}
.nav-link{
  Font-Family: 'Merriweather', Serif;
}

.verse{
  Font-Family: 'Muli', Sans-Serif;
  Font-Size: 20px;
  ital
}