/* Topnav */
.topnav {
    position: absolute;
    top: 8px;
    right: 16px;
}
.container {
  display: flex;
}

h1 {
  Font-Family: 'Merriweather', Serif;
  Font-Size: 72px;
  Text-Align: center
}

h2 {
  Font-Family: 'Merriweather', Serif;
  Font-Size: 60px;
}

h3 {
  Font-Family: 'Merriweather', Serif;
  Font-Size: 30px;
}

h4 {
  Font-Family: 'Muli', Sans-Serif;
  Font-Size: 24px
}

p {
  Font-Family: 'Muli', Sans-Serif;
  Font-Size: 20px;
}
.navbar-text{
  Font-Family: 'Merriweather', Serif;
  Font-Size: 24px;
}
.nav-link{
  Font-Family: 'Merriweather', Serif;
}

